.pageLink,
.nextLink,
.preLink{
	float: left;
	height: 20px;
	line-height: 20px;
	width: 20px;
	margin-left: 10px;
	text-align: center;
	cursor: pointer;
	border: 1px solid #CCCCCC;
	padding: 3px 4px;
	text-decoration: none;
	border-radius: 3px;
}

.nextLink,.preLink{
	width: 60px;
	float: left;
}

.pageLink:hover,
.nextLink:hover,
.preLink:hover,
.currentLink{
	background: blue;
    color: white;
	font-weight: bold;
}

#summary{
	float: right;
	margin-right: 10px;
}