@CHARSET "UTF-8";

.slider {
    width: 0px;
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    border: 2px solid #1ABC9C;
    overflow: scroll;
    height: calc(100% - 10px);
    background-color: #FFFFFF;
}

.slider > div {
    padding: 0px 10px;
}

.slider-header input {
    width: 60%;
    height: 40px;
}

.slider .slider-header {
    height: 60px;
    line-height: 40px;
    padding-right: 6px;
}

.slider-title {
    border: none;
    font-weight: bold;
    font-size: 24px;
    float: left;
    margin-top: 10px;
}

.slider-header .btn {
    float: right;
    margin-top: 10px;
}