<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
    default-lazy-init="true">

    <context:annotation-config />

    <!-- use annotation to scan basic package -->
    <context:component-scan base-package="com.jimmy" />

    <!-- load the jdbc.properties -->
    <context:property-placeholder location="classpath:hibernate/jdbc.properties" />

    <!-- <bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean"> -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="configLocation" value="classpath:hibernate/hibernate.cfg.xml" />
        <property name="dataSource">
            <bean class="com.mchange.v2.c3p0.ComboPooledDataSource">
                <property name="jdbcUrl" value="${jdbc.url}" />
                <property name="driverClass" value="${jdbc.driver}" />
                <property name="user" value="${jdbc.username}" />
                <property name="password" value="${jdbc.password}" />
                <property name="initialPoolSize" value="${connection.pools.initialPoolSize}" />
                <property name="maxPoolSize" value="${connection.pools.maxPoolSize}" />
                <property name="minPoolSize" value="${connection.pools.minPoolSize}" />
                <property name="acquireIncrement" value="${connection.pools.acquireIncrement}" />
                <property name="maxStatements" value="${connection.pools.maxStatements}" />
                <property name="maxStatementsPerConnection" value="${connection.pools.maxStatementsPerConnection}" />
            </bean>
        </property>
    </bean>

    <!-- hibernateTemplate -->
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <!-- create transaction -->
    <bean id="tx" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <!-- use annotation to manage transaction -->
    <tx:annotation-driven transaction-manager="tx" />

</beans>